.App {
  background: rgb(37,118,232);
background: linear-gradient(173deg, rgba(37,118,232,1) 25%, rgba(75,157,245,1) 100%);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
}


.App-bg {
  margin: 4rem;
  background-color: #ffffff;
  height: 80rem;
  width: 60vw;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
  align-content: flex-start;
}

