
.headerBox{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
}

.nameInput{
    border: none;
    height: 3rem;
    width: 30rem;
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #519DEF;
  }

  .nameInput::placeholder {
    color: rgb(128, 128, 128);
    font-size: 40px;
    font-weight: 800;
    font-family: Helvetica;
  }

  .nameInput:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 3px;
  } 

  .infoInput{
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    height: 1rem;
    width: 12rem;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
  }

  .infoInput:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 3px;
  } 
  
  .infoBox{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
  }

  .iconImg{
      width: 1.5rem;
      height: 1.5rem;
      margin-top: 10px;
  }

  .skillsInput{
    border: none;
    height: 1.6rem;
    width: 10rem;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 800;
    text-align: start;
    color: #519DEF;
    margin-left: 2.8rem;
  }

  .skillsInput::placeholder {
    color: rgb(128, 128, 128);
    font-size: 20px;
    font-weight: 800;
    font-family: Helvetica;
    color: #519DEF;
  }

  .skillsInput:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 3px;
  } 

  .skillsBox{
    margin-top: 2rem;
    width: 95%;
  }

  

  hr{
    margin-left: 3rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .skillsInfo {
    border: none;
    height: 1rem;
    width: 10rem;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 800;
    text-align: start;
    color: black;
    margin-left: 3rem;
    margin-top: 1rem;
  }

  
  
  .skillsInfo2{
    border: none;
    height: 1rem;
    width: 10rem;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 800;
    text-align: start;
    color: black;
    margin-left: 3rem;
    margin-top: 0.3rem;
  }

  .skillsInfo3{
    border: none;
    height: 1rem;
    width: 10rem;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 800;
    text-align: start;
    color: black;
    margin-left: 3rem;
    margin-top: rem;
  }

  .skillsInfo::placeholder, .skillsInfo2::placeholder, .skillsInfo3::placeholder  {
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: 800;
    font-family: Helvetica;
    color: black;
  }


  .skillsInfo:focus, .skillsInfo2:focus, .skillsInfo3:focus {
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 3px;
  } 

  .skillsInfoBox{
    display: flex;
    flex-direction: column;
  }

  .skillsRow{
    margin: -2px;
  }

  .subSkill{
    border: none;
    height: 1rem;
    width: 7rem;
    font-family: Helvetica;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-top: 1rem;
    background-color: #519DEF ;
    margin-left: 1rem;
    border-radius: 5px;
  }

  .subSkill:focus {
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 5px;
  } 

  .subSkill::placeholder{
    color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: 400;
    font-family: Helvetica;
    color: black;
    margin: 0;
  }

  subSkill:placeholder-shown{
    background-color: white;
  }

  .skillsBtn{
    position: absolute;
    top: 15px;
    left: -40px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .BtnRemove{
    position: absolute;
    top: 70px;
    left: -100px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .BtnRemove2{
    position: absolute;
    top: 24px;
    left: -100px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }
  
.BtnRemove3{
  position: absolute;
    top: 15px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
}  

.BtnRemove4{
  position: absolute;
    top: 45px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
}

.BtnRemove5{
  position: absolute;
    top: 75px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
}

  .skillsBtn:hover, .skillsBtn2:hover, .skillsBtn3:hover, .jobBtn:hover, .workBtn:hover, .AddprojectBtn:hover, .BtnRemove:hover{
    background-color: black;
  }

  .skillsBtn2{
    position: absolute;
    top: 45px;
    left: -40px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .skillsBtn3{
    position: absolute;
    top: 75px;
    left: -40px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .workDiv{
    margin-top: 1rem;
    width: 95%;
  }

  .workTitle{
    border: none;
    height: 1.4rem;
    width: 15rem;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 800;
    text-align: start;
    color: black;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .workTitle:focus {
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 5px;
  } 

  .workPosition{
    border: none;
    height: 1rem;
    width: 10rem;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: black;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .workPosition:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 5px;
  }
  .workPosition::placeholder{
   color: rgb(128, 128, 128);
    font-size: 15px;
    font-weight: 800;
    font-family: Helvetica;
    margin: 0;
  }

  .BoxPlacement{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  
  .workBox{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 5px;
  }

  .workBox:hover{
    border: grey 2px dashed
  }

  .workBox:hover .jobBtn{
    display: block;
  }

  .employerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%
  }

  .Date{
    border: none;
    height: 1rem;
    width: 8rem;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: black;
    margin-top: 1rem;
    font-style: italic;
  }

  .Date:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 5px;
  }

  li{
    color: black;
    margin: 0;
  }

  ul{
    margin-top: 5px;
    margin-left: 0.2rem;
    list-style-type: square;
    font-size: 20px;
   
  }

  .workBullet{
    border: none;
    height: 1rem;
    width: 95%;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    color: black;
    margin-left: 0.2rem;
  }

  .workBullet:focus{
    outline: none;
    background-color: rgba(128,128,128,.2);
    border-radius: 5px;
  }

  .btnPosition{
    position: relative;
  }

  .workBtn{
    position: absolute;
    top: 70px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .jobBtn{
    position: relative;
    top: 630px;
    left: 620px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 4.5rem;
    height: 1.5rem;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }

  .titlePosition{
      width: 95%;
  }
  
  .projectBtn{
    position: absolute;
    top: 25px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }

  .AddprojectBtn{
    position: relative;
    top: 650px;
    left: 630px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 5.5rem;
    height: 1.5rem;
    font-size: 15px;
    padding: 0;
    margin: 0;
  }

  .SchoolBtn{
    position: absolute;
    top: 25px;
    left: -70px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 10px;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.4rem;
    padding: 0;
  }